modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test"

[[workflows.workflow]]
name = "test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run test"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23969
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BFnQz2DCxNPmt5XqhI5vkRZQWYgb47e8U_fnKNzVcEPD-kD8l5CON6Kvr8U5GED0obtw7u_Q8rHSfbtet2W9GCM"
VAPID_PRIVATE_KEY = "g3RLGWZopYHaz9A9RKykj_-_DJnYBKY_TDyLAFgzOjQ"
VAPID_SUBJECT = "mailto:support@cotopia.com"
VITE_VAPID_PUBLIC_KEY = "BFnQz2DCxNPmt5XqhI5vkRZQWYgb47e8U_fnKNzVcEPD-kD8l5CON6Kvr8U5GED0obtw7u_Q8rHSfbtet2W9GCM"

[objectStorage]
defaultBucketID = "replit-objstore-8d4a9030-93f8-4558-85e0-fa5ede23f59c"
